[Unit]
Description=IronSync Daemon
After=network.target
 
[Service]
Type=simple
User=root
Group=root
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
WorkingDirectory=/
ExecStart=/usr/bin/ironsync -connfile /etc/ironsync/conn.ini -resfile /etc/ironsync/res.ini
StandardOutput=null
StandardError=null
 
[Install]
WantedBy=multi-user.target
